@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Grifter Bold';
		src: url('/fonts/grifterbold.otf');
		font-weight: bold;
		font-display: swap;
	}
	body {
		@apply bg-[#151515] -z-50;
	}
}
